content/*
!content/dialog/


content_c/
include/


javascript/*
!javascript/framework/
!javascript/widget/
javascript/framework/*
javascript/widget/*
!javascript/framework/*/
!javascript/widget/*/


stylesheet/*
!stylesheet/framework/
!stylesheet/widget/
stylesheet/framework/*
stylesheet/widget/*
!stylesheet/framework/*/
!stylesheet/widget/*/
